
{{#with user}}
  <h2 class="username">{{ firstName }} {{ lastName }}</h2>

  <form>Hello, {{firstName}}. Edit your information and dont forget to save!</form>


<form>First Name: <input name="firstName" type="text" value="{{firstName}}"> </form> 
<form>Last Name: <input name="lastName" type="text" value="{{lastName}}"> </form>
<form>Mail adresse/ account name: <input name="email" type="text" value="{{email}}"> </form>
{{/with}}


{{!-- <form> Credit card: </form> 

<form><a href="">Change password</a></form> --}}


<button type="submit">Update
</button>

  <button>
    <a href="/auth/userprofile">Return without saving</a>
  </button>
