<h1>Which group do you want to join?</h1>
<br>
{{#each groups}}

<li>{{this.date}} from :
<b>{{this.startStation}}</b> to :
<b>{{this.endStation}}</b> <br>
There are currently<b> {{this.numOfGuests}}/5 </b>spots taken.
With you everyone in this group would pay <b>{{lookup this.prices this.numOfGuests}}</b>.
<br>
<button><a href="/groups/joingroup/{{_id}}"><u><b>Join this group!</b></u></a></li></button>

{{/each}}
<br><br><p>Go to <a href="/groupsearchUrl">Group search</a></p>
