<h1>Which group do you want to join?</h1>
<br>
{{#each groups}}

<li>{{this.date}} from :
<b>{{this.startStation}}</b> to :
<b>{{this.endStation}}</b> <br>
<img src="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcTAsHxjaH8LzzxvTo_7MMRFh1B9cVyjKhfsTJr2rj9iDi-UpAAiML0s9wVODKyTiz4sW1zTtzATkFkfhiFerxM">
<b> With you everyone in this group would pay {{price[1]}}</b>
<br>
<a href="/groups/joingroup/{{_id}}"><u><b>Click to initiate "joingroup" route</b></u></a></li>

{{/each}}
<br><br><p>Go to <a href="/groupsearchUrl">Group search</a></p>
