<h1>Which group do you want to join?</h1>
<br>
{{#each groups}}

<li>{{this.date}} from :
<b>{{this.startStation}}</b> to :
<b>{{this.endStation}}</b> <br>
<img src="../../public/images/number_of_travellers/{{this.numOfGuests}}.png">
<a href="../../public/images/number_of_travellers/{{this.numOfGuests}}.png">
<b> Temporary display of Number of guests for test purposes {{this.numOfGuests}}</b>
<br>
<a href="/groups/joingroup/{{_id}}"><u><b>Click to initiate "joingroup" route</b></u></a></li>

{{/each}}
<br><br><p>Go to <a href="/groupsearchUrl">Group search</a></p>
